:root {
    --primary-color: #0073e6;
    --secondary-color: #333;
    --main-background-color: #000;
    --background-color: #f4f4f4;
    --text-color: #ffffff;
    --card-bg: #fff;
    --font-stack: "Arilal", sans-serif;
}

/* Global reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: var(--font-stack);
    background-color: var(--main-background-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 75%;
    background: rgba(92, 88, 88, 0.205);
    padding: 1.25rem;
    border-radius: 0.5rem;
    flex: 1;
}

/* Header */
header {
    padding-top: 1.5vh;
    text-align: center;
    margin-bottom: 1.25rem;
}

.profile-pic {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 0.938rem auto;
    border: 3px solid var(--card-bg);
}

h1 {
    color: var(--primary-color);
    font-size: x-large;
}

h2 {
    font-size: large;
}

p {
    font-size: medium;
}

#bio {
    text-align: justify;
    margin-bottom: 1.25rem;
}

#skill {
    text-align: center;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(9.375rem, 1 fr));
    gap: 1.25rem;
    max-width: 15rem;
    margin: auto;
}

footer {
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
    padding: 1.25rem;
    border-top: 1px solid gray;
    margin-top: 1vh;
}


@media (max-width: 600px) {
    .skill-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: larger;
    }
    strong {
        font-size: small;
    }

    h2 {
        font-size: medium;
    }

    p {
        font-size: small;
    }
    .skill-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 400) {
    
    h1 {
        font-size: larger;
    }
    strong {
        font-size: x-small;
    }

    h2 {
        font-size: medium;
    }

    p {
        font-size: small;
    }
    .skill-container {
        grid-template-columns: repeat(1, 1fr);
    }
}