
:root {
    --primary-color: #02386e;
    --secondary-color: #333;
    --main-background-color: #000;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --background-color: white;
    --text-color: #777;
    --titles-color: #000;
    --font-stack: "Arilal", sans-serif;
}

/* Global reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, var(--primary-color) 50%, white 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: var()
}

.profile-card {
    background: var(--background-color);
    border-radius: 0.625rem;
    box-shadow: 0 4px 8px var(--shadow-color);
    text-align: center;
    padding: 1.25rem;
    width: 75%;
}

#bio, #skills {
    text-align: justify;
    margin-bottom: 1.25rem;
}

.skills-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto auto;
}

.profile-picture img {
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;
    object-fit: cover;
    margin-top: -3.125rem;
    border: 5px solid var(--background-color);
}

h1 {
    margin: 0.625rem 0 0.313rem;
    font-size: 1.5rem;
}

p {
    margin: 0.313rem 0;
    color: var(--text-color);
}

@media (max-width: 600px) {
    .skill-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: larger;
    }
    strong {
        font-size: small;
    }

    h2 {
        font-size: medium;
    }

    p {
        font-size: small;
    }
    .skills-container {
        max-height: 20vh;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: auto;
        overflow-y: auto;
    }
}
@media (max-width: 400) {
    
    h1 {
        font-size: larger;
    }
    strong {
        font-size: x-small;
    }

    h2 {
        font-size: medium;
    }

    p {
        font-size: small;
    }
    .skills-container {
        max-height: 20vh;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: auto;
        overflow-y: auto;
    }
}